.npm
.log
node_modules
.config.nodes.json
.config.nodes.json.backup
.config.runtime.json
.config.users.json
package-lock.json
.flows.json.backup
node-red/.config.users.json
node-red/.config.users.json
node-red/.config.users.json.backup
